@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TaskManager.Entities.Enums
@using TaskManager.Helpers
@using TaskManager.Models.TaskItem;
@model IEnumerable<TaskItemViewModel>
@{
    ViewData["Title"] = "Úkoly";

    // Prepare dropdown options for sorting and filtering tasks
    var taskStates = Enum.GetValues<TaskState>();
    var sortOptions = Enum.GetValues<SortBy>();

    // Retrieve current filter/sort state from ViewData (set in controller)
    var currentSort = ViewData["CurrentSort"] as string;
    var currentState = ViewData["CurrentState"] as string;
}

<partial name="_MessageHandler" />

<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between mb-2">
        <div>
            <!-- Dropdown for sorting tasks by selected property -->
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Řadit podle
                </button>
                <ul class="dropdown-menu">
                    @foreach (var option in sortOptions)
                    {
                        string sortString = option.ToString();
                        var active = currentSort == sortString
                        ? "active"
                        : "";
                        <li>
                            <a asp-action="List"
                               asp-route-state="@currentState"
                               asp-route-sort="@sortString"
                               class="dropdown-item @active">
                                @option.GetDisplayName()
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- Dropdown for filtering tasks by selected property -->
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrovat podle stavu
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="List"
                           asp-route-sort="@currentSort"
                           class="dropdown-item @(string.IsNullOrEmpty(currentState) ? "active" : "")">
                            Vše
                        </a>
                    </li>
                    @foreach (var state in taskStates)
                    {
                        string stateString = state.ToString();
                        var active = currentState == stateString 
                            ? "active" 
                            : "";
                        <li>
                            <a asp-action="List"
                               asp-route-state="@stateString"
                               asp-route-sort="@currentSort"
                               class="dropdown-item @active">
                                @state.GetDisplayName()
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <a class="btn btn-success" asp-controller="TaskItem" asp-action="Create">Přidat úkol</a>
    </div>
    <div class="card-body">
        @if (Model.Any())
        {
            <table class="table table-hover align-middle mt-2 text-center">
                <thead>
                    <tr>
                        <th>Název</th>
                        <th>Požadovaný termín dokončení</th>
                        <th>Stav</th>
                        <th>Akce</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.DueDate?.ToString("dd. MM. yyyy HH:mm")</td>
                            <td>
                                <span class="badge @ViewHelper.GetBadgeClass(item.State)">@item.State.GetDisplayName()</span>
                            </td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Detail</a>
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Upravit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Smazat</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Nejsou dostupné žádné úkoly.</p>
        }
    </div>
</div>